services:
  app-cargo:
    image: app-cargo:latest
    build:
      context: .
      dockerfile: settings/app-cargo/Dockerfile
    profiles:
      - image-only

  api-server:
    image: app-cargo:latest
    volumes:
      - ./.env:/usr/src/origin/.env
      - ./Cargo.lock:/usr/src/origin/Cargo.lock
      - ./Cargo.toml:/usr/src/origin/Cargo.toml
      - ./api-server:/usr/src/origin/api-server
    ports:
      - "8080:8080"
    environment:
      APP_PACKAGE: api_server
    secrets:
      - mysql_user
      - mysql_password
    depends_on:
      - db

  db:
    image: mysql:8.4.7
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql-root-password
      MYSQL_USER_FILE: /run/secrets/mysql-user
      MYSQL_PASSWORD_FILE: /run/secrets/mysql-password
    volumes:
      - ./settings/mysql/secrets:/run/secrets
      - ./settings/mysql/init:/docker-entrypoint-initdb.d
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"

secrets:
  mysql_user:
    file: ./settings/mysql/secrets/mysql-user
  mysql_password:
    file: ./settings/mysql/secrets/mysql-password

volumes:
  mysql-data:
