services:
  db:
    image: mysql:8.4.7
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql-root-password
      MYSQL_USER_FILE: /run/secrets/mysql-user
      MYSQL_PASSWORD_FILE: /run/secrets/mysql-password
    volumes:
      - ./settings/mysql/secrets:/run/secrets
      - ./settings/mysql/init:/docker-entrypoint-initdb.d
      - mysql-data:/var/lib/mysql
    ports:
      - "13306:3306"
volumes:
  mysql-data:
