[package]
name = "api_server"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.148"
tiny_http = "0.12.0"
uuid = { version = "1.19.0", features = ["v4"] }
